body{
    font-family: "Google Sans", Helvetica, Arial, sans-serif;
}
.toolbar__content{
  display: flex;
  align-items: center;
  gap: 13px;
}

.calendar-container {
  margin: 0 auto;
}


.app__content{
  padding: 15px;
}
