<mat-toolbar color="primary">
  <div style="    display: flex
;
    align-items: center;
    gap: 13px;">
    <mat-icon>calendar_today</mat-icon>
    <span>CalendarSome</span>
  </div>
</mat-toolbar>

<div style="text-align: center; margin: 20px;display: flex">
    <div style="flex: 2;display: flex;flex-direction: column">
      <div style="width: 300px;display: flex">
        <mat-form-field style="margin-bottom: 0">
          <mat-select [(ngModel)]="view">
            <mat-option value="day">day</mat-option>
            <mat-option value="month">Month</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-card style="height:auto;width: 300px;padding: 0">
      <mat-calendar [(selected)]="selectedDate"  (selectedChange)="view='day'"
                    #calendar
                    style="padding:20px;height: 100%;width: 100%"></mat-calendar>
      </mat-card>
      <div style="text-align: left;padding: 20px 0">
        <button mat-stroked-button (click)="onAddEventClicked()">Add Event <mat-icon>add</mat-icon></button>
      </div>
    </div>
  <div style="flex:8">
    <h3 style="text-align: left;margin-top: 15px;margin-bottom: 35px;">
      {{getTitle()}}
    </h3>
    <ng-container *ngIf="view==='day'">
      <div class="day-view-container" style="flex:8;position:relative;" cdkDropListGroup (click)="onDayContainerClick({date:selectedDate})" >
        <mat-list>
          <ng-container *ngFor="let slot of timeSlots;let i =index">
            <mat-list-item>
              <div class="time-slot">
                <span class="hour">{{ slot.hour }}</span>
                <div class="events">
                  <!--                <div *ngFor="let event of eventService.getEventsForHour(selectedDate, i)" class="event" cdkDrag [cdkDragData]="event" cdkDragLockAxis="y">-->
                  <!--                  <span>{{ event.title }}</span>-->
                  <!--                  <p>{{ event.description }}</p>-->
                  <!--                </div>-->
                </div>
              </div>
            </mat-list-item>

            <mat-divider></mat-divider>
          </ng-container>
          <div *ngFor="let event of eventService.getEventsForDay(selectedDate)" class="event" cdkDrag
               [ngStyle]="{
       'height': getEventHeight(event) + 'px',
       'top': getEventTop(event) + '%',
       'position': 'absolute',
       'right': '0',
       'width': '94%'
     }"
               [cdkDragData]="event" cdkDragLockAxis="y"  >
            <span>{{ event.title }}</span>
            <p>{{ event.description }}</p>
          </div>
        </mat-list>
      </div>
    </ng-container>
    <ng-container *ngIf="view==='month'">
      <div style="flex:8;display: flex;flex-wrap: wrap;" cdkDropListGroup>
        <div *ngFor="let day of monthDays;let i=index" [ngClass]="{'today': isToday(day)}"
             [cdkDropListConnectedTo]="connectedLists"
             style="width: calc(100% / 7); aspect-ratio: 1;box-sizing: border-box; border: .5px solid #ccc;cursor:pointer;" cdkDropList
             (cdkDropListDropped)="onDrop($event, day)"
             (click)="onDayContainerClick(day)"
             [cdkDropListData]="day.date">
<!--          <div *ngIf="day" class="day-card">-->
            <div>
              <div style="padding: 10px">
                <strong>{{ day.date.getDate() }}  </strong>
                <small>
                  {{ day.date.toLocaleString('en-US', { month: 'short' }) }}
                </small>
              </div>
              <div class="event" *ngFor="let event of eventService.getEventsForDay(day.date)" cdkDrag
                   (click)="onEventClicked(event,$event)"
                   [cdkDragData]="event">
                {{ event.title }}
              </div>
<!--            </div>-->
          </div>
        </div>
      </div>

    </ng-container>
  </div>
</div>
