<div class="calendar__month-wrapper" cdkDropListGroup>
  <div *ngFor="let day of calendar.monthDays"
       [ngClass]="{'today': calendar.isToday(day.date)}"
       (cdkDropListDropped)="onDrop($event)"
       (click)="onCalenderDayClick(day)"
       class="calendar__month-block"
       cdkDropList
       [cdkDropListData]="day.date">
    <div *ngIf="day" class="day-card">
      <div>
        <div>
          <div class="calendar__month-block-date">
            <strong>{{ day.date.getDate() }}</strong>
            <small>{{ day.date.toLocaleString('en-US', { month: 'short' }) }}</small>
          </div>
          <div
            class="event"
            (click)="onEventClicked(event, $event)"
            *ngFor="let event of event.getEventsForDay(day.date)"
            cdkDrag
            [cdkDragData]="event">
            {{ event.title }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
