<div class="day-view"   #dayViewContainer>
  <mat-list (mouseup)="onDayContainerClicked()">
    <ng-container *ngFor="let slot of eventUI.getTimeSlots()" >
      <mat-divider ></mat-divider>
      <mat-list-item>
          {{ slot.hour}}
      </mat-list-item>
    </ng-container>
    <div *ngFor="let event of event.getEventsForDay(calendar.selectedDate)"
         class="event"
         cdkDrag
         (mouseup)="onEventClicked(event);$event.stopPropagation()"
         (cdkDragEnded)="onDaySlotDrop($event);"
         cdkDragBoundary=".day-view"
         [ngStyle]="getEventStyle(event,dayViewContainer)"
         [cdkDragData]="event" cdkDragLockAxis="y"  >
      <span>{{ event.title }}</span>
      <p>{{ event.description }}</p>
    </div>
  </mat-list>
</div>
