<div class="calendar__select-wrapper">
  <mat-form-field class="calendar__select-form-field" appearance="outline">
    <mat-select [(ngModel)]="calendar.view">
      <mat-option value="day">day</mat-option>
      <mat-option value="month">Month</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<mat-card class="calendar__side-bar">
  <mat-calendar
    class="mat-calendar"
    #matCalendar
    [(selected)]="calendar.selectedDate"
    (selectedChange)="calendar.view='day';">
  </mat-calendar>
</mat-card>
<div class="calendar__sidebar-actions">
  <button mat-stroked-button (click)="onAddEventButtonClicked()">Add Event <mat-icon>add</mat-icon></button>
</div>
