<div style="width: 300px;display: flex">
  <mat-form-field style="margin-bottom: 0" appearance="outline">
    <mat-select [(ngModel)]="calendar.view">
      <mat-option value="day">day</mat-option>
      <mat-option value="month">Month</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<mat-card style="height:auto;width: 300px;padding: 0">
  <mat-calendar
    #matCalendar
    [(selected)]="calendar.selectedDate"
    (selectedChange)="calendar.view='day';"
                style="padding:20px;"></mat-calendar>
</mat-card>
<div style="text-align: left;padding: 20px 0">
  <button mat-stroked-button (click)="onAddEventButtonClicked()" >Add Event <mat-icon>add</mat-icon></button>
</div>
