/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; user-select: none}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.event {
  background-color: rgb(3, 155, 229);
  margin: 10px;
  border-radius: 6px;
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px, rgba(0, 0, 0, 0.2) 0px 3px 5px -1px;
  color: #fff;
  cursor: pointer;
  //display: flex;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  transition: background-color 0.1s linear;
  padding: 2px;
  opacity: .8;
}
